<h3>Followings</h3>

<p><%= link_to "show", @user %> | 
<%= link_to "followings", followings_user_path(@user) %> | 
<%= link_to "followers", followers_user_path(@user) %></p>

<% @users.each do |user| %>
  <%= link_to user.name, user %>
<% end %>